@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-base bg-white text-myBlack dark:bg-dkPrimary dark:text-white;
  }
  .customInput:valid + .placeholder,
  .customInput:focus + .placeholder {
    @apply -translate-y-[17px] scale-[0.8] bg-white text-[#6474E5] dark:bg-dkPrimary;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
@keyframes progress {
  100% {
    right: 100%;
  }
}
@keyframes popin {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(0.95);
  }
  66% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
